PORT="Enter Port"
MONGO_URL="Enterpath"
SECRET_KEY="Your secret key"
USER_EMAIL="Email to send from"
USER_PASSWORD="Email api key"
CLOUD_NAME="cloudinary name"
CLOUD_SECRET_KEY="cloudinary secret"
API_KEY="cloudinary normal key"