PORT="Enter Port"
MONGO_URL="Enterpath"
SECRET_KEY="Your secret key"
user_email="Email to send from"
user_password="Email api key"
CLOUD_NAME="cloudinary name"
CLOUD_SECRET_KEY="cloudinary secret"
API_KEY="cloudinary normal key"